.country-image {
    overflow: hidden;
    padding: 0.25em;
    cursor: pointer;
}

.external-links {
    list-style: none;
    padding-left: 1em;
}

.travel-advisories h3 {
    font-size: 1.25em;
    padding-right: 1em;
    padding-top: 1em;
}

.name h1 {
    display: inline;
    font-size: 2em;
}

.name h2 {
    display: inline;
    font-size: 2em;
    padding-right: 1em;
}

.rating {
    font-weight: bold;
    font-size: 1.15em;
}

.rating-0 {
    color: #49ff00;
}

.rating-1 {
    color: #2eaf00;
}

.rating-2 {
    color: #00b7ff;
}

.rating-3 {
    color: #ffd400;
}

.rating-4 {
    color: #ff7d00;
}

.rating-5 {
    color: #ff0000;
}

#overlay {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(53, 53, 53, 0.8);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#overlayImage {
    position: absolute;
    top: 8em;
}

#overlayX {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

#overlayX:hover {
    color: #fff;
}

@media (min-width: 400px) {
    .country-image {
        max-height: 16em;
    }

    .desktop-only {
        display: none;
    }
}

@media (min-width: 750px) {
    .country-image {
        max-height: 8em;
    }

    .desktop-only {
        display: block;
    }
}
