.country-image {
    overflow: hidden;
    padding: 0.25em;
}

.external-links {
    list-style: none;
    padding-left: 1em;
}

.travel-advisories h3 {
    font-size: 1.25em;
    padding-right: 1em;
    padding-top: 1em;
}

.travel-advisories td {
    border: none;
}

.name h1 {
    display: inline;
    font-size: 2em;
}

.name h2 {
    display: inline;
    font-size: 2em;
    padding-right: 1em;
}

@media (min-width: 400px) {
    .country-image {
        max-height: 16em;
    }

    .desktop-only {
        display: none;
    }
}

@media (min-width: 750px) {
    .country-image {
        max-height: 8em;
    }

    .desktop-only {
        display: block;
    }
}
