body {
    overflow-x: hidden;
}

#mapContainer {
    display: none;
}

@media (min-width: 750px) {
    #mapContainer {
        display: block;
    }

    #countryContainer {
        overflow-y: scroll;
        max-height: 48em;
    }
}
